<!DOCTYPE html>
{% extends 'base.html' %}
 
{% block content %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>🪐 Galaxy Library </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> Book Collections of Galaxy Library </h1>
        <p> Title of Application : {{detail.application_name}} </p>
        <p> Name : {{detail.name}} </p>
        <p> NPM : {{detail.NPM}} </p>
        <p> Class : {{detail.class}} </p>

        <h3>List of Books</h3>
        <form method="post">
            <ol>
                {% for book in books %}
                    <li>
                        <h4>Name of this book : {{book.name}}</h4>
                        <p>Amount of this book : {{book.amount}}</p>
                        <p>Description : {{book.description}}</p>
                    </li>
                {% endfor %}
            </ol>
        </form>
        
        <a href="{% url 'main:create_books' %}">
            <button>
                Add New Book
            </button>
        </a>
    </body>
</html>

{% endblock content %}